/**
 * @name ⁺ nattSVart ₊
 * @author 666forever
 * @description +Petite Bruises 🌃
 * @website https://github.com/666forever/discord
**/

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
/* @import url('https://666forever.github.io/discord/build/'); */


:root {
    --font: 'Oxygen', 'gg sans', 'Noto Sans', 'Segoe UI Emoji', sans-serif;
    font-weight: 400;
    --gap: 2px;
    --radius-lg: 12px;
    --radius-md: 12px;
    --radius-sm: 12px;
/*
    🧃 settings ::
*/
    --divider-thickness: 1px;
    --border-thickness: 2px;
    --custom-guild-list-padding: 6px;
    --custom-guild-list-width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding) * 2 + var(--border-thickness) * 2);
    --border-hover-transition: 0.1s ease;
    --panel-backdrop-filter: none;
    --border-hover: var(--no-border);
    --top-bar-height: 20px;
    --custom-app-top-bar-height: var(--top-bar-height);
    --prompt-text: "type shiit...";

}

.visual-refresh {
    .guilds__5e434,
    .chat_f75fb0 > .subtitleContainer_f75fb0,
    .chatContent_f75fb0,
    .container_c8ffbb,
    .content_f75fb0 > .membersWrap_c8ffbb,
    .container__133bf > .container__9293f,
    .container_f391e3 > .container__9293f,
    .homeWrapper__0920e > .container__9293f,
    .container__01ae2 > .container__9293f,
    .container_fb64c9 > .container__9293f,
    .peopleColumn__133bf,
    .nowPlayingColumn__133bf,
    .scroller_c880e8,
    .container_f391e3 > .content_f75fb0,
    .shop__6db1d,
    .content_f75fb0 > .outer_c0bea0,
    .searchResultsWrap_a9e706,
    .container_f369db,
    .chat_fb64c9,
    .container_a592e1,
    .callContainer_cb9592,
    .wrapper_cb9592.sidebarOpen_cb9592 .callContainer_cb9592,
    .callContainer__722ff,
    .chat_f75fb0 > .header_c791b2,
    .chat_f75fb0 > .scrollerBase_d125d2,
    .chat_f75fb0 > .header__0b563,
    .chat_f75fb0 > .container__0b563 {
        background-color: var(--background-base-lower);
        border-radius: var(--radius-lg);
        border: var(--border-thickness) solid var(--no-border);
        backdrop-filter: var(--panel-backdrop-filter);
        box-sizing: border-box;
        transition: border-color var(--border-hover-transition);

        &:hover {
            border-color: var(--border-hover);
        }
    }
/*
    🧃 user-panel image ::
*/

    .sidebarList__5e434 {
        background-color: var(--background-sidebarlist);
        border-radius: 12px 12px 0 0;
        border: var(--border-thickness) solid var(--no-border);
        box-sizing: border-box;
    }
    .panels__5e434 {
        background-image: url('https://i.imgur.com/OQP9BMq.gif');
        background-size: cover;
        background-position: center;
        padding: 20px 20px;
        border-radius: 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .container__37e49 {
        margin-top: 10px;
        box-sizing: border-box;
    }
    
/*
    🧃 home button ::
*/ 

    .wrapper__6e9f8[data-list-item-id='guildsnav___home'] > .childWrapper__6e9f8 > svg {
        display: none;
    }
    .tutorialContainer__1f388 .wrapper__6e9f8 .childWrapper__6e9f8 {
        background-color: transparent;
    }
    .wrapper__6e9f8[data-list-item-id='guildsnav___home'] > .childWrapper__6e9f8::before {
        content: " ";
        width: 100%; /* Change size if needed */
        height: 100%; /* Change size if needed */
        background-image: url('https://666forever.github.io/discord/assets/homecat.svg');
        background-size: contain;
    } 
    
    .sidebar__5e434 /* server list + channel list + user panel group */ {
        margin: 0 var(--gap) var(--gap) var(--gap);
    }

    .guilds__5e434 /* server list */ {
        margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--gap));
        margin-right: var(--gap);
    }
    .guilds__5e434 + div:not(.sidebarList__5e434) /* betterfolders */ {
        width: 100% !important;
    }
    .scroller_ef3116 /* server list inner scroller */ {
        padding: var(--custom-guild-list-padding) 0;
    }
    .folderGroup__48112 {
        width: 100%;
    }
    .listItem__650eb {
        width: 100%;
    }

    .sidebarList__5e434 /* channel list */ {
        margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--gap));
    }
    .container__2637a /* channel list inner */ {
        padding-bottom: 0;
    }
    .clickable_f37cb1,
    .container__2637a /* channel list inner */,
    .header_f37cb1 /* server name */ {
        background: none;
    }
    .scroller__629e4 /* channel list inner scroller */ {
        margin-bottom: 0;
    }

    /* fix discord's idiotic server banners */
    .bannerImage_f37cb1,
    .bannerImg_f37cb1 {
        width: 100%;
    }
    .bannerVisible_f37cb1 .headerEllipseBackdrop_f37cb1 {
        display: none;
    }
    .headerGlass_f37cb1 {
        top: 0;
        left: 0;
        right: 0;
        width: auto;
        border-radius: var(--radius-lg) var(--radius-lg) 0 0;
    }

    .sidebar__5e434:after /* server list + channel list bottom shadow */ {
        display: none;
    }

    .wrapper_ef3116 /* remove server list shadow */ {
        mask: none;
    }

    .chat_f75fb0 /* chat group outer */ {
        border: none !important;
        background: none;
    }
    .chatContent_f75fb0 {
        overflow: hidden;
    }
    .container__133bf /* friends page group outer */,
    .page__5e434 {
        padding-bottom: var(--gap);
        padding-right: var(--gap);
        border: none !important;
        background: none;
    }
    .page__5e434 > .chat_f75fb0,
    .page__5e434 > .container__133bf {
        padding: 0;
    }

    .container__9293f /* friends, message requests, + other stuff titlebar */ {
        margin-bottom: var(--gap);
    }

    .subtitleContainer_f75fb0 /* chat titlebar  */ {
        margin-bottom: var(--gap);
    }
    .title_f75fb0 /* chat titlebar inner */ {
        border: none;
        background: none;
        margin-bottom: 0;
    }

    .page__5e434 > div > .chat_f75fb0 > .content_f75fb0 /* chat outer */ {
        border-left: none;
    }
    .tabBody__133bf /* friends page */ {
        border: none !important;
    }

    .listeningAlong_e0cf27 /* user panel listening along */ {
        border-top: none !important;
    }

    .container_c8ffbb /* member list */ {
        margin-left: var(--gap);
        overflow: hidden;
        height: auto;
        min-width: fit-content;
    }
    .content_f75fb0 > .membersWrap_c8ffbb /* forum post member list */ {
        margin-left: var(--gap);
        overflow: hidden;
        height: auto;
        min-width: fit-content;
    }
    .members_c8ffbb /* member list inner */,
    .member_c8ffbb /* member list item */ {
        background: none;
    }

    .resizeHandle__01ae2 /* resize handle */ {
        background: transparent;
    }

    .privateChannels_e6b769 /* dm list */,
    .scroller__99e7c /* dm list inner */ {
        background: none;
    }
    .scroller__99e7c /* dm list inner */ {
        margin-bottom: 0;
    }

    .tabBody__133bf /* online friends + active now group outer */ {
        background: none;
    }

    .nowPlayingColumn__133bf /* active now */ {
        margin-left: var(--gap);
    }
    .container__7d20c /* active now inner */ {
        background: none;
    }
    .scroller__7d20c /* active now inner */ {
        border: none;
    }

    .homeWrapper__0920e /* nitro page group inner */ {
        border: none;
        background: none;
    }
    .applicationStore_f07d62 /* nitro page group outer */ {
        background: none;
    }

    .shop__6db1d /* shop */ {
        overflow: hidden;
        height: auto;
    }
    .shop__08415 /* shop inner scroller */ {
        margin-top: calc(var(--custom-channel-header-height) * -1 - 16px);
    }

    .content_f75fb0 > .outer_c0bea0 /* dm user panel */ {
        margin-left: var(--gap);
        overflow: hidden;
        height: auto;
        min-width: 340px;
        background-position: center calc(-1 * var(--border-thickness));
        background-size: 100% calc(100% + 2 * var(--border-thickness));
    }

    .searchResultsWrap_a9e706 /* search results */ {
        margin-left: var(--gap);
    }

    .notice__6e2b9 /* notice banner */ {
        margin: 0 var(--gap) var(--gap) 0;
        border-radius: var(--radius-md);
        box-sizing: border-box;
        height: 40px;
    }

    .container__01ae2 /* vc chat + titlebar group */ {
        border: none;
        background: none;
    }
    .chat_a44415::before /* vc chat shadow */ {
        display: none;
    }
    .channelChatWrapper_cb9592 /* vc chat + titlebar group outer */ {
        background: none;
    }

    .page__5e434 > div > .chatLayerWrapper__01ae2 /* forum/thread chat outer */ {
        margin: 0 var(--gap) var(--gap) 0;
        height: calc(100% - var(--gap));
    }
    .container__01ae2 /* forum/thread chat */ {
        padding-left: calc((var(--gap) - var(--chat-resize-handle-width)));
    }

    .container_fb64c9 /* new thread panel */ {
        background: none;
    }
    .chat_fb64c9::before /* new thread panel chat shadow */ {
        display: none;
    }

    .container_a592e1 /* server discovery */ {
        overflow: hidden;
    }
    .backdrop__8a7fc /* server discovery top bar */ {
        background-color: var(--background-base-lower);
    }

    .wrapper_cb9592 /* dm vc wrapper */ {
        background: none;
        margin-bottom: var(--gap);
    }
    .wrapper_cb9592.fullScreen_cb9592 {
        margin-top: var(--gap);
        margin-left: var(--gap);
        width: calc(100% - var(--gap));
        height: calc(100% - var(--gap));
    }

    /* remove excess background from settings  */
    .standardSidebarView__23e6b,
    .contentRegion__23e6b,
    .sidebarRegionScroller__23e6b,
    .contentRegionScroller__23e6b {
        background: none;
    }
    .standardSidebarView__23e6b {
        backdrop-filter: var(--panel-backdrop-filter);
    }

    /* remove excess backgrounds */
    .wrapper_cdf8a9 /* message loading placeholders */,
    .wrapper_cdf8a9 > .wrapper_fc8177 {
        background: none;
    }
    .page__5e434 > .chat_f75fb0 /* friend page, server members page */ {
        background: none !important;
    }

    .newMessagesBar__0f481 /* unread messages bar */ {
        top: 12px;
        left: 12px;
        right: 12px;
        border-radius: var(--radius-sm);
        padding: 0 8px;
    }

    .bottom__7aaec /* channel list new unreads pill */,
    .unreadBottom__629e4 /* channel list non-community unread pill */ {
        bottom: 0;
    }

    .unreadMentionsIndicatorBottom_ef3116 /* server list new pill */,
    .unreadMentionsIndicatorTop_ef3116 {
        width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding) * 2);
        padding: calc(var(--custom-guild-list-padding) / 2);
    }

    #vc-spotify-player /* vencord spotify plugin */ {
        background: none;
    }

    /* general chat bar improvements */
    .channelTextArea_f75fb0 /* chat bar */ {
        border-radius: var(--radius-md);
    }
    .themedBackground__74017 /* chat bar inner */ {
        background: none;
    }
    .slateTextArea_ec4baf /* actual typing area */ {
        margin-left: 2px;
    }

    /* improve unread divider */
    .divider__908e2 {
        border-width: var(--divider-thickness);
        border-radius: var(--divider-thickness);
    }
    .endCap__908e2 {
        margin-top: calc(var(--divider-thickness) / -2);
    }
    .divider__908e2 .content__908e2 {
        margin-top: calc(var(--divider-thickness) - var(--divider-thickness) * 2);
    }

    /* improve highlight message left edge */
    .message__5126c.mentioned__5126c::before,
    .replying__5126c::before,
    .ephemeral__5126c::before {
        width: var(--divider-thickness);
        border-radius: var(--divider-thickness);
        height: calc(100% - 2 * var(--radius-sm));
        top: var(--radius-sm);
        left: calc(var(--divider-thickness) / -2 + 1px);
        left: calc(var(--radius-sm) / 2);
    }

    .message__5126c {
        border-radius: var(--radius-md);
        margin-left: 4px;
    }

    /* improve server selected marker */
    .pill_e5445c.wrapper__58105 {
        width: calc((var(--custom-guild-list-padding) - 4px) / 2 + 4px);
    }
    .item__58105 {
        width: 4px;
        border-radius: 4px;
        margin-left: calc((var(--custom-guild-list-padding) - 4px) / 2);
    }

    /* roundness */
    .embedFull__623de /* embeds */,
    .hljs /* code block */,
    .imageWrapper_af017a /* image */,
    .container__9271d /* thread link */ {
        border-radius: var(--radius-md);
    }

    .outer_c0bea0 /* profile outer */, 
    .contentWrapper__08434  /* gif panel */ {
        border-radius: var(--radius-lg);
    }
    .inner_c0bea0 /* profile inner */ {
        border-radius: calc(var(--radius-lg) - 4px);
    }

    .outer_c0bea0 /* profile outer */ {
        background-position: center calc(-1 * var(--border-thickness));
        background-size: 100% calc(100% + 2 * var(--border-thickness));
    }
    .root__24502 {
        background: none;
    }

    /* remove unnecessary backgrounds */
    .app__160d8,
    #app-mount,
    body {
        background: transparent !important;
    }
}

body {
    --font-primary: var(--font), 'gg sans';
    --font-display: var(--font), 'gg sans';
    --font-code: var(--code-font), 'gg mono';
}

[class*='scroll'] {
    will-change: scroll-position;
}
.burstGlow__23977 {
    display: none;
}

/*
    🧃 Custom CSS ::
*/

.container__138d8,
.links__7aac8,
.compactInfo__2debe,
.container__8279f,
.footer__5be3e,
.diversitySelector_a45a2a,
.diversitySelector_c0e32c {
    display: none;
}
.largePing__06d62,
.voiceUsers__68617,
.collapsed__68617,
.scroller__68617,
.actionButtons_e131a9 {
    display: none;
}
/* ─────── clear chat bar */
.placeholder__1b31f.slateTextArea_ec4baf {
    visibility: hidden;
}
.placeholder__1b31f.slateTextArea_ec4baf::before {
    visibility: visible;
    content: var(--prompt-text);
}

/* PinDMs Fixes */
.vc-pindms-section-container {
    text-transform: unset !important;
    font-family: var(--font);
    font-size: 15px;
    font-weight: 500;
   /* color: var(--channels-default) !important; */
}

/* ─────────────────── smaller channel icons */
.icon__2ea32 {
    width: 14px !important;
    height: 14px !important;
    opacity: 0.2 !important;
}

.iconContainer__94d79 {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

/* ─────────────────── is typing.. */
.inTextChannel_b88801.base_b88801 {
    bottom: unset;
    left: -70px;
    padding-left: 20px;
    pointer-events: all;
    right: 0;
    top: -3px;
    scale: 0.8;
}
