/**
 * @name ⁺ nattsvart bruised ₊
 * @author 666forever
 * @description ダークテーマ are you okay?
 * @website https://github.com/666forever/nattsvart/
**/

@import url('https://666forever.github.io/nattsvart/build/nattsvartforever.theme.css');

body {
    --font: 'Oxygen', 'gg sans', 'Noto Sans', 'Segoe UI Emoji', sans-serif;
    font-weight: 400;
    --prompt-text: "type shiit...";
/*
    🧃 settings ::
*/  
    --gap: 2px;
    --radius-lg: 12px;
    --radius-md: 12px;
    --radius-sm: 12px;

    --divider-thickness: 1px;
    --border-thickness: 2px;
    --custom-guild-list-padding: 6px;
    --custom-app-top-bar-height: var(--top-bar-height);
    --custom-guild-list-width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding) * 2 + var(--border-thickness) * 2);
    --panel-backdrop-filter: none;
    --border-hover: var(--no-border);
    --border-hover-transition: 0;

    --list-item-transition: 0.2s ease;

    --top-bar-height: 20px;

}
/*
        🧃 colours ::
*/
:root {
    --colors: on;

    /* text */
    --text-0: var(--bg-4); /* text on colored elements */
    --text-1: hsl(220, 45%, 95%); /* other normally white text */
    --text-2: hsl(245, 50%, 91.37%); /* headings and important text */
    --text-3: hsl(270, 2.99%, 73.73%); /* normal text */
    --text-4: hsl(220deg 3.15% 62.42%); /* icon buttons and channels */
    --text-5: hsl(220deg 1.45% 26.84%); /* muted channels/chats and timestamps */

    /* background */
    --bg-0: rgb(23, 22, 28); /* mainly the darkest element */
    --bg-1: hsl(220, 5%, 20%); /* dark buttons when clicked */
    --bg-2: hsl(220, 5%, 16%); /* dark buttons */
    --bg-3: rgb(12, 12, 14); /* main background color */
    --bg-4: rgb(12, 12, 14); /* spacing, secondary elements */
    --hover: hsla(221, 19%, 40%, 0.1); /* channels and buttons when hovered */
    --active: hsla(220, 19%, 40%, 0.2); /* channels and buttons when clicked or selected */
    --active-2: hsla(220, 19%, 40%, 0.3); /* extra state for transparent buttons */
    --message-hover: hsla(230, 0%, 0%, 0.1); /* messages when hovered */

    /* accent  */
    --accent-1: var(--purple-1); /* links and other accent text */
    --accent-2: var(--purple-2); /* small accent elements */
    --accent-3: var(--purple-3); /* accent buttons */
    --accent-4: var(--purple-4); /* accent buttons when hovered */
    --accent-5: var(--purple-5); /* accent buttons when clicked */
    --accent-new: var(--purple-2); /* stuff that's normally red like mute/deafen buttons */
    --mention: linear-gradient(to right, color-mix(in hsl, var(--purple-2), transparent 90%) 40%, transparent); /* background of messages that mention you */
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--purple-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent); /* background of messages that reply to you */
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */

    /* status */
    --online: var(--green-4); /* change to #43a25a for default */
    --dnd: var(--red-4); /* change to #d83a42 for default */
    --idle: var(--yellow-4); /* change to #ca9654 for default */
    --streaming: var(--purple-4); /* change to ##9147ff for default */
    --offline: var(--text-4); /* change to #83838b for default offline color */

    /* borders */
    --border-light: var(--no-border); /* light border color */
    --border: var(--no-border);; /* normal border color */
    --button-border: hsl(0, 0%, 100%, 0.1); /* neutral border color of buttons */

    /* base */
    --red-1: oklch(76% 0.12 0);
    --red-2: oklch(70% 0.12 0);
    --red-3: oklch(64% 0.12 0);
    --red-4: oklch(58% 0.12 0);
    --red-5: oklch(52% 0.12 0);

    --green-1: oklch(76% 0.11 170);
    --green-2: oklch(70% 0.11 170);
    --green-3: oklch(64% 0.11 170);
    --green-4: oklch(58% 0.11 170);
    --green-5: oklch(52% 0.11 160);

    --blue-1: oklch(76% 0.1 215);
    --blue-2: oklch(70% 0.1 215);
    --blue-3: oklch(64% 0.1 215);
    --blue-4: oklch(58% 0.1 215);
    --blue-5: oklch(52% 0.1 215);

    --yellow-1: oklch(80% 0.11 90);
    --yellow-2: oklch(74% 0.11 90);
    --yellow-3: oklch(68% 0.11 90);
    --yellow-4: oklch(62% 0.11 90);
    --yellow-5: oklch(56% 0.11 90);

    --purple-1: oklch(76% 0.11 310);
    --purple-2: oklch(70% 0.11 310);
    --purple-3: oklch(64% 0.11 310);
    --purple-4: oklch(58% 0.11 310);
    --purple-5: oklch(52% 0.11 310);
}

